In [1]:
import numpy as np
import pandas as pd
from numpy import unique

In [2]:
def wrangle(filepath):
    df=pd.read_csv(filepath)
    return df

In [3]:
df = wrangle("communications.csv")
print(df.shape)
print(df.head())

(145941, 15)
                         message_id                       customer_id  \
0  28d82c62db5989d9441351f58738c6a8  f13e966f9dc1e2aa7bffec6c9efa8e11
1  0f98a1bbf7f2b66f420816a65c8d9b77  f13e966f9dc1e2aa7bffec6c9efa8e11
2  97f9ed967d2334ce0b4ebfcfc9b5c25c  f13e966f9dc1e2aa7bffec6c9efa8e11
3  3d0615ca493d69e16265ab688495c134  f13e966f9dc1e2aa7bffec6c9efa8e11
4  3eb3a03a007bd1adf7482e6d95f7b942  f13e966f9dc1e2aa7bffec6c9efa8e11

                            sent_at  clicked  converted  \
0  2021-01-04 10:03:16.376000+00:00        0          0
1  2021-01-12 08:34:09.376000+00:00        0          0
2  2021-01-19 08:58:11.376000+00:00        0          0
3  2021-01-28 10:43:04.376000+00:00        0          0
4  2021-02-04 11:28:56.376000+00:00        0          0

                          client_id gender customer_country   age  \
0  cfcd208495d565ef66e7dff9f98764da      F              NaN  51.0
1  cfcd208495d565ef66e7dff9f98764da      F              NaN  51.0
2  cfcd208495d565ef66e7dff9f98764da      F              NaN  51.0
3  cfcd208495d565ef66e7dff9f98764da      F              NaN  51.0
4  cfcd208495d565ef66e7dff9f98764da      F              NaN  51.0

                         created_at client_name product_type client_country  \
0  2021-01-03 15:58:50.376000+00:00     SwanPay         BNPL             UK
1  2021-01-03 15:58:50.376000+00:00     SwanPay         BNPL             UK
2  2021-01-03 15:58:50.376000+00:00     SwanPay         BNPL             UK
3  2021-01-03 15:58:50.376000+00:00     SwanPay         BNPL             UK
4  2021-01-03 15:58:50.376000+00:00     SwanPay         BNPL             UK

  channel  message_number
0     SMS               1
1     SMS               2
2   Email               3
3   Email               4
4   Email               5

In [4]:
counts=df.nunique()
print(counts)

message_id          145941
customer_id           9751
sent_at             145937
clicked                  2
converted                2
client_id                8
gender                   2
customer_country         3
age                     79
created_at            9751
client_name              8
product_type             3
client_country           3
channel                  2
message_number          39
dtype: int64

In [5]:
to_del=[i for i,v in enumerate(counts) if v<=1] #Delete Useless Column
print(df.columns[to_del])
df.drop(df.columns[to_del],axis=1,inplace=True)
counts=df.nunique()
print(counts)

Index([], dtype='object')
message_id          145941
customer_id           9751
sent_at             145937
clicked                  2
converted                2
client_id                8
gender                   2
customer_country         3
age                     79
created_at            9751
client_name              8
product_type             3
client_country           3
channel                  2
message_number          39
dtype: int64

In [13]:
dups=df.duplicated()
print(dups.any())
print(df[dups])

False
Empty DataFrame
Columns: [message_id, customer_id, sent_at, clicked, converted, client_id, gender, customer_country, age, created_at, client_name, product_type, client_country, channel, message_number]
Index: []

In [ ]:
df.drop_duplicates(inplace=True)

In [29]:
data[:,5]

array(['cfcd208495d565ef66e7dff9f98764da',
       'cfcd208495d565ef66e7dff9f98764da',
       'cfcd208495d565ef66e7dff9f98764da', ...,
       'e4da3b7fbbce2345d7772b0674a318d5',
       'e4da3b7fbbce2345d7772b0674a318d5',
       'e4da3b7fbbce2345d7772b0674a318d5'], dtype=object)

In [47]:
#Count Missing Values
print(df.isnull().sum())
print(df.isnull().sum()* 100 / len(df))

message_id              0
customer_id             0
sent_at                 0
clicked                 0
converted               0
client_id               0
gender              31676
customer_country    30146
age                 22020
created_at              0
client_name             0
product_type            0
client_country          0
channel                 0
message_number          0
dtype: int64
message_id           0.000000
customer_id          0.000000
sent_at              0.000000
clicked              0.000000
converted            0.000000
client_id            0.000000
gender              21.704661
customer_country    20.656293
age                 15.088289
created_at           0.000000
client_name          0.000000
product_type         0.000000
client_country       0.000000
channel              0.000000
message_number       0.000000
dtype: float64